.request_container {
  padding: 0;
  position: relative;
  overflow: hidden;
}
.two {
  padding: 0 10px;
  height: calc(100vh - 180px);
}
.n0 {
  display: none !important;
}

<<<<<<< HEAD
.fw-container{
  height: calc(100vh - 9rem);
}
=======
>>>>>>> 9726b1ac57b5086926e34d59986ce00e17681e58
